
<HTML>
  <head>
    <title>Todo</title>
    <style>
      .todoitem{}
      .todotitle{
        font-weight: bold;
      }
      .tododesc{}
    </style>
  </head>
  <body>
    <h1>Todo for {{data.username}}</h1>
    <table>
      {% for todo in data.todos %}
      <tr>
        <td class="todotitle">{{ todo.title }}</td>
        <td class="tododesc">{{ todo.desc }}</td>
      </tr>
      {% endfor %}
    </table>
    <form action="/todo" method="post">
      <input type="text" placeholder="Enter Todo Title" name="title" required> 
      <input type="text" placeholder="Enter Todo Description" name="desc">
      <button type="submit">Create Todo</button>
    </form>
  </body>
</HTML>

