
<HTML>
  <head>
    <title>Todo</title>
    <style>
      .todo-container{
        position: relative;
        left: 21px;
      }
      button {
        background-color: #555555;
        border: none;
        color: white;
        /*padding: 15px 32px;*/
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      const emptytodo = { id: "", title: "New item" }

function togglecontainer(node, just_show=false) {
  var containernode = node.children("#" + node.attr("id") + "-container");
  var btn = node.children("#" + node.attr("id") + "-toggle");
  if (containernode.css("display") == "none" || just_show) {
    containernode.css("display", "block");
    btn.html("&uarr;")
  }
  else {
    containernode.css("display", "none");
    btn.html("&equiv;")
  }
}

function add_todo(pnode, title) {
  parentid = pnode.attr("id");
  node = pnode.find("#" + parentid + "-newtitle")

  data = {
    "parent": parentid,
    "title": title
  }

  $.post("/todo/", data, function (data) {
    newtodo = JSON.parse(data);
    var newnode = render_todo(newtodo, pnode);
    render_todo(emptytodo, newnode, true);
    render_todo(emptytodo, pnode, true);
  });
}

function del_todo(node, fake=false) {
  if(fake) return;
  nodeid = node.attr("id");
  $.ajax({
         url: "/todo/" + nodeid,
         type: "DELETE",
         success: function(result) {
           node.remove();
         }
  })
}

function update_todo(node, fake=false) {
  if(fake) {
    parent_node = node.parent().parent().parent();
    add_todo(parent_node, node.find("#" + node.attr("id") + "-title").text());
    node.remove();
  }
  else {
    nodeid = node.attr("id");
    $.post("/todo/" + nodeid, { newtitle: $("#" + nodeid + "-title").text() })
  }
}

FAKE_ID = 1;
function render_todo(todo, pnode, fake=false) {
  var id = todo.id;
  if(fake) id = "" + FAKE_ID++;
  var todonode = pnode.find("#" + pnode.attr("id") + "-list");
  var newnode = $("<div>").attr("id", id)

  var delbtn = $("<button>").attr("id", id + "-delete").addClass("delete-button").html("&times;")
    .click(function() { del_todo(newnode, fake); });
  var expandbtn = $("<button>").attr("id", id + "-toggle").addClass("toggle-button").html("&equiv;")
    .click(function() { togglecontainer(newnode) });
  newnode.append(delbtn).append(expandbtn);

  var titlediv = $("<div>").attr("id", id + "-title").css("display", "inline").addClass("todo-title").text(todo.title).attr("contentEditable", true);

  newnode.append(titlediv);

  titlediv.focus(function() { this.old_value = $(this).html(); });
  titlediv.focusout(function() {
    if (this.old_value != undefined && this.old_value != $(this).html()) {
      update_todo(newnode, fake);
    }
  });


  var container = $("<div>").attr("id", id + "-container").addClass("todo-container").css("display", "none");
  newnode.append(container);
  container.append($("<div>").attr("id", id + "-list").addClass("todo-list"));

  todonode.append(newnode);
  return newnode;
}

function render_todos(todo, pnode) {
  var newnode = render_todo(todo, pnode);
  for(var child_todo of todo.todos) 
    render_todos(child_todo, newnode);
  empty_node = render_todo(emptytodo, newnode, true);
}

window.onload = function() {
  todos = JSON.parse('{{data.todos|tojson}}');
  var pnode = $("#todos")
  for(var todo of todos)
    render_todos(todo, pnode);
  render_todo(emptytodo, pnode, true);
  togglecontainer(pnode, true);
}
    </script>
  </head>
  <body>
    <h1>Todo for {{data.username}}</h1>
    <div id="todos">
      <div id="todos-container" class="todo-container">
        <div id="todos-list" class="todo-list"></div>
        <div id="todos-form" class="todo-form"></div>
      </div>
    </div>
  </body>
</HTML>

